@using EntityLayer.Concrete
@model List<Blog>
@{
    ViewData["Title"] = "BlogListByWriter";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Yazarın Blogları</h1>
<table class="table table-bordered table-hover bg-gradient-dark my-3">
    <tr>
        <th>#</th>
        <th>Blog Başlığı</th>
        <th>Oluşturma Tarihi</th>
        <th>Kategori</th>
        <th>Durumu</th>
        <th>Sil</th>
        <th>Düzenle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.BlogID</th>
            <td>@item.BlogTitle</td>
            <td>@(((DateTime)item.BlogCreateDate).ToString("dd-MMM-yyyy"))</td>
            <td>@item.Category.CategoryName</td>
            <td>
                @{
                    var degisken = item.BlogStatus ? "Aktif" : "Pasif";
                }
                @degisken
            </td>
            @* <td> <a asp-controller="Blog" asp-action="DeleteBlog" asp-route-id="@item.BlogID" class="btn btn-danger">Sil</a> </td> *@
            <td>
                <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#Sil_@item.BlogID">
                    Sil
                </button>
            </td>
            <td> <a asp-controller="Blog" asp-action="EditBlog" asp-route-id="@item.BlogID" class="btn btn-outline-warning btn-sm" >Düzenle</a> </td>

            <div class="modal fade" id="Sil_@item.BlogID" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Blog Sil</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h4>Bloğu silmek istiyor musunuz?</h4>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-info mx-4" data-dismiss="modal">Vazgeç</button>
                            @Html.ActionLink("Sil", "DeleteBlog", new { id = @item.BlogID }, new { @class = "btn btn-danger mx-4" })
                        </div>
                    </div>
                </div>
            </div>
        </tr>
    }
</table>

<a asp-controller="Blog" asp-action="BlogAdd" class="btn btn-outline-primary">Yeni Blok Oluştur</a>